maine
acum
cuvinte
congres
muschi
fluier
galben
rosu
alb
mov
rapciune
lemn
balot
caine
catel
mar
mare
scaun
floare
mouse 
penar
pix
ecran
stilou
fir
cablu
buton
vopsea
haine
carne
etaj
ghiozdan
doi
trei
patru
opt
gunoi
geam
ghem
urechiat
trunchi

